config DISPLAY_LS013B7DH05
	bool "Sharp LS013B7DH05 display"
	depends on DT_HAS_SHARP_LS013B7DH05_ENABLED
	select SPI
	select GPIO
	select LED
	select PWM
	default y
	help
	  Driver for the Sharp LS013B7DH05 display

config DISPLAY_LS013B7DH05_TXBUF_LINES
	int "Number of lines in the display transmit buffer"
	default 20
	range 1 168
	depends on DISPLAY_LS013B7DH05
	help
	  Number of lines in the display transmit buffer
