config DISPLAY_LS013B7DH05
	bool "Sharp LS013B7DH05 display"
	depends on DT_HAS_SHARP_LS013B7DH05_ENABLED
	select SPI
	select GPIO
	select LED
	select PWM
	default y
	help
	  Driver for the Sharp LS013B7DH05 display
