if SOC_NRF5340_CPUAPP_QKAA

config DOMAIN_CPUNET_BOARD
	string
	default "pebble_evb/nrf5340/cpunet" if BOARD_PEBBLE_EVB_NRF5340_CPUAPP

endif # SOC_NRF5340_CPUAPP_QKAA

config DOMAIN_CPUAPP_BOARD
	string
	default "pebble_evb/nrf5340/cpuapp" if BOARD_PEBBLE_EVB_NRF5340_CPUNET
